div {
    background-color:blueviolet ;
    display: inline;
}
button{
    display: block;
}
#box1{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    background-color: rgba(255, 0, 0, 0.25);
    display: inline-block;
}
#box2{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    background-color: rgba(255, 0, 0, 0.50);
    display: inline-block;
    /* display: none; */
}
#box3{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    background-color: rgba(255, 0, 0, 0.75);
    display: inline-block;
}
